
// ==========
// = Colors =
// ==========
//$backgroundcolor: #EFF2F5;
$backgroundcolor: #fff;
$linkcolor: #C56A10;



// ==========
// = Button =
// ==========
@mixin button {
    @include buttonstyle2(5px, 7px, #6088F7, #225FF6, #fff, true);
    font-size: 12px; 
}
button.linklike { 
    background: none;
    border-color: transparent;
    cursor: pointer;
    filter: none;
}
button.linklike:hover {
    text-decoration: underline;
}



// =============
// = Selection =
// =============
@mixin selected {
    @include gradient(#648CF5, #2465F3);
//    color: #fff;
}        



.gui-tabs {
    height: 30px;
    list-style-type: none;
    padding: 0;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;    
    
    li {
        display: inline-block;
        a {
            display: block;
            height: 16px;
            line-height: 16px;
            padding: 7px 7px;
            background-color: #A6B2C0;
            color: #fff;
            text-decoration: none;
            &:hover {
                background-color: #BFCCDD;
            }
        }
        &.selected a {
            background-color: #fff;
            color: #555;            
        }
    }
}



// ============
// = Formgrid =
// ============

/* ============ */
/* = FormGrid = */
/* ============ */
.formgrid {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 18px;
    margin-bottom: 20px;
}
.formgrid label {
    clear: left;
    float: left;
    width: 80px;
    color: #777;
    line-height: 22px;
    
}
.formgrid > li {
/*    border-top: 1px solid #eee;*/
    padding-top: 3px;
    margin-top: 3px;
    min-height: 23px;
}
.formgrid > li:first-child {
/*    border-top: none;*/
    margin-top: 0;
    padding-top: 0px;
}
.formgrid > li > div {
    padding-left: 95px;
}
.formgrid .combobox {
    outline: none;
    display: inline-block;
    zoom: 1;
    *display: inline;
    *width: 200px;
    min-width: 200px;
    max-width: 100%;
}
/* Some formgrid specialities */
/*.dialog.activity .formgrid li.status .info {
    height: 14px;
    line-height: 14px;
    color: #777;
    padding-left: 18px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 7px;
}*/
.dialog.activity .formgrid > li.status > div {
    padding-top: 3px;
}
.dialog.activity .formgrid > li.status .info {
    height: 14px;
    line-height: 14px;
    color: #777;
    padding-left: 18px;
/*    margin-top: 5px;*/
/*    margin-left: 5px;*/
/*    margin-bottom: 7px;*/
}




// ==============
// = ItemWindow =
// ==============
.gui-win {
    > footer {
        .buttons .submit {
            @include button();
        }        
    }

}