@import "mixins";



// ========
// = Menu =
// ========
.base-menu {
    display: block;
    position: absolute;
    min-width: 150px;
    z-index: 500;
    outline: none;

    // IE8 bug when using max-height with overflow:auto.
    // A workaround is to use overflow-y instead.
    overflow: hidden;
    overflow-y: auto;

    // css reset
    > ul,
    > ul > li {
        // css reset
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    > ul {
        > li {
            @include user-select(none);
            cursor: default;
            list-style-type: none;
            display: block;
            position: relative;

            &.submenu > i {
                display: block;
                position: absolute;
                right: 0px;
                top: 0px;
                bottom: 0px;
                width: 20px;
                // Todo: Replace 22px with fluid vertical centering
                line-height: 22px;
            }
        }
        > li.spacer {
            overflow: hidden;
            display: block; // todo: <-- necessary?
        }
        // Right-arrow icon indicating a submenu
        i {
            @include icon();
            display: none;
        }
    }
}




/* ============ */
/* = Calendar = */
/* ============ */
.base-calendar {
    outline: none;
    table {
        border-collapse:collapse;
        table-layout: fixed;
        width: 100%;
    }
    thead {
        @include user-select(none);
        th {
            text-align: center;
        }
        .header {
            position: relative;
            height: 30px;
        }
        .monthname {
            font-size: 14px;
            text-align: center;
        }
    }
    .nextmonth,
    .prevmonth {
        @extend .iconstyle;
        width: 15px;
        height: 15px;
        overflow: hidden;
        position: absolute;
        top: 7px;
        left: 7px;
        cursor: pointer;
        color: #777;
        font-size: 15px;
    }
    .nextmonth {
        left: auto;
        right: 5px;
    }
    td,tr.weekdays th {
        border: 1px solid #ddd;
        white-space: nowrap;
        padding: 0;
    }
    td {
        &.day > div {
            padding: 1px;
            overflow: hidden;
            position: relative;
            .date {
                position: absolute;
                top: 2px;
                right: 2px;
                width: 15px;
                height: 13px;
                text-align: right;
                color: #999;
                font-size: 11px;
            }
        }

        &.gray > div {
            color: #aaa;
        }
        &.over {
            outline: 3px solid #A7BAC6;  // <-- is this used?
        }
        &.today {
            background-color: #FFEFB9 !important;
        }
        &.weekend {
            background-color: #f8f8f8;
        }
    }
    &:focus .day.selected .date {
        color: #fff;
    };
}





// ============
// = Controls =
// ============
.base-text {
    box-sizing: border-box;
    cursor: text;
    border: 1px solid #ccc;
    padding: 2px 5px;   
    outline: none;
    background-color: #fff;
    line-height: 20px;
    height: 25px;    
    
    white-space: nowrap;
    overflow: hidden;
    
    
    // disabled-style
    .tiki-disabled &,
    &.tiki-disabled {
        @include user-select(none);
        cursor: default;
        color: #aaa;
        background-color: #f4f4f4;
        border: 1px solid #ccc !important;

        &:focus {
            border: 1px solid #ccc !important;
            box-shadow: none;
        }
    }
}

.base-password {
    @extend .base-text;
    -webkit-text-security: disc;    
}

.base-textarea {
    @extend .base-text;
    height: auto;
    line-height: 16px;
    white-space: normal;    
    div, p {
        margin: 0 !important; /* ie required important, todo: who's overriding? */
    }
}


// Todo: Remove this workaround.
// Why is not .tiki-checkbox:before inherited by .tiki-radio?
@mixin base-checkbox-bg() {
    @include icon-before("\00a0"); // blank space
    display: inline-block;
    width: 15px;
    height: 15px;
    content: '\00a0';        
    border: 1px solid #999;
    
    text-align: center;
    font-size: 11px;
    line-height: 16px;
    margin-right: 6px;
    margin-left: 3px;
    color: #333;
    @include gradient(#fff, #e0e0e0);    
    border-radius: 3px;
}



@mixin base-checkbox() {
    // active and focus
    &:active:before {
        @include gradient(darken(#e0e0e0, 10%), darken(#fff, 10%));
        @include box-shadow(inset 0px 2px 4px rgba(0, 0, 0, 0.3));
    }
    &:focus:before {
        @include focusstyle();
    }
    cursor: default;
    outline: none;
    @include user-select(none);
    height: 17px;
    display: inline-block;
    
    // icon
    &:before {
        // draw a checkbox
        @include base-checkbox-bg();
        .ie9 & {
            background-color: #fff;  
            box-shadow: inset 0 -8px 13px -2px rgba( 0, 0, 0, .15);
            @include border-radius(4px);
        }
    }
    
    &.checked:before,
    &[checked]:before {
        content: "\e0fe";
    }

    .tiki-disabled &,
    &.tiki-disabled {
        color: #aaa;
        &:before {
            @include gradient(#f4f4f4, #f4f4f4);
            border: 1px solid #ccc !important;
            color: #aaa;
        }
        &:focus:before {
            border: 1px solid #ccc !important;
            box-shadow: none;
        }
    }    
}



@mixin base-radio() {
    @include base-checkbox();
    padding-left: 25px;
    position: relative;
    line-height: 18px;
    
    &:before {
        // draw a circle
        border-radius: 13px;
        position: absolute;
        left: 0px;
        top: 0px;
        font-size: 8px;
        line-height: 15px;        
    }
    &.checked:before {
      content: "\f111";        
    }    

}


.base-dropdown {
    @include user-select(none);
    position: relative;
    display: inline-block;
    
    > i {
        display: none;
    }


    span {
        cursor: default;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        position: relative;
        text-shadow: none;        
    }
    button {
        position: absolute;
        right: 0px;
        top: 0px;
        bottom: 0px;
        border: none;
    }

    &.editable {
        @include user-select(text);
    }
    &.editable.typing {
    }
    &.editable span {
        background-color: #fff;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;    
        border-bottom: 1px solid #ddd;
        height: 20px;
        margin: 0px;
        line-height: 20px;
        padding-right: 0px;
        cursor: text;
        position: relative;
        left: -1px;
        top: -1px;
        border-radius: 2px;
    }

    /* Add a magnifying glass icon when typing in a searchable dropdown */
    &.searchable.editable > i {
        display: block;
        width: 16px;
        height: 16px;
        background: url(../img/icons.png) no-repeat 0 0;
        position: absolute;
        top: 2px;
        left: 3px;
        z-index:1;
    }
    &.searchable.editable span {
        margin-left: 22px;
        border-color: #aaa;
        @include border-radius(0);
    }    
    
    // disabled-style
    .tiki-disabled &,
    &.tiki-disabled {
        color: #aaa;
        span {
            color: #999;            
        }
        @include gradient(#f4f4f4, #f4f4f4);        
        border: 1px solid #ccc !important;
        button {
            opacity: 0.4;
        }

        &:focus {
            border: 1px solid #ccc !important;
            box-shadow: none;
        }
    }    
}

.base-hidden {
    display: none;
}



.base-checkboxgroup {
    padding: 0px;
    list-style-type: none;
    li {
        margin-bottom: 3px;
    }
}


.base-radiogroup {
    padding: 0px;
    list-style-type: none;    
    li {
        margin-bottom: 3px;
    }
}


.base-date {
    position: relative;
    display: inline-block;
    width: 150px;
    
    > button {
        position: absolute;
        right: 4px;
        top: 2px;
        width: 20px;
        height: 20px;
        border: none;
    }
    .tiki-text {
        width: auto;
        display: block;
    }
    &.invalid {
        .tiki-text {
            background-color: #ffece7;
            &:focus {
                @include glowoutlineinvalid();
            }
        }
    }    
}

.base-datepicker {
    @include user-select(none);
    width: 250px;

    background-color: #fff;
    z-index: 1000;
    cursor: default;

    &.flying {
        // Todo: $.position thinks .tiki-datepicker has position:static, causing it
        // to add postion:relative as an inline style.
        position: absolute !important;
        left: 0px;
        top: 0px;
        @include box-shadow(0 2px 5px rgba(0,0,0,0.3));
        @include border-radius(3px);
        .ds {
            display: block;
        }
    }

    &:focus {
        outline: none;
    }

    td.day > div {
        min-height: 20px;
        position: relative;
    }
}


.base-simpleform {
    > ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    > ul > li {
        margin-bottom: 5px;
        .label {
            padding: 3px;
            color: #777;
            text-shadow: #fff 0px 2px;            
        }
    }
    &.horizontal {
        li {
            overflow: hidden;
            .label {
                width: 20%;
                float: left;
            }
            .control {
                width: 75%;
                float: left;
            }
        }        
        
    }
}





// ============
// = Sortable =
// ============
.base-spaceholder {
    visibility: hidden;
}

