@-webkit-keyframes overPulse {
  from {
    box-shadow: 0 0 3px rgba(14, 158, 211, 0.4);
    -moz-box-shadow: 0 0 3px rgba(14, 158, 211, 0.4);
    -webkit-box-shadow: 0 0 3px rgba(14, 158, 211, 0.4);
    -ms-box-shadow: 0 0 3px rgba(14, 158, 211, 0.4); }

  50% {
    box-shadow: 0 0 18px rgba(14, 158, 211, 0.4);
    -moz-box-shadow: 0 0 18px rgba(14, 158, 211, 0.4);
    -webkit-box-shadow: 0 0 18px rgba(14, 158, 211, 0.4);
    -ms-box-shadow: 0 0 18px rgba(14, 158, 211, 0.4); }

  to {
    box-shadow: 0 0 3px rgba(14, 158, 211, 0.4);
    -moz-box-shadow: 0 0 3px rgba(14, 158, 211, 0.4);
    -webkit-box-shadow: 0 0 3px rgba(14, 158, 211, 0.4);
    -ms-box-shadow: 0 0 3px rgba(14, 158, 211, 0.4); } }

.gui-over {
  background-color: #f2f7fc !important;
  border-color: #0e9ed3;
  -webkit-animation-name: overPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite; }

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon, .icon-download:before, .icon-lock:before, .icon-unlocked:before, .icon-home:before, .icon-user:before, .icon-users:before, .icon-user-2:before, .icon-spinner:before, .icon-cog:before, .icon-pie:before, .icon-stats:before, .icon-bars:before, .icon-bars-2:before, .icon-clock:before, .icon-folder:before, .icon-folder-open:before, .icon-tag:before, .icon-tags:before, .icon-link:before, .icon-eye:before, .icon-flickr:before, .icon-table:before, .icon-minus:before, .icon-plus:before, .icon-play:before, .icon-info:before, .icon-warning:before, .icon-signup:before, .icon-bookmark:before, .icon-bookmarks:before, .icon-calendar:before, .icon-new-tab:before, .icon-console:before, .icon-filter:before, .icon-arrow-up:before, .icon-arrow-down:before, .icon-close:before, .icon-checkmark:before, .icon-enter:before, .icon-exit:before, .icon-flag:before, .icon-attachment:before, .icon-cancel-circle:before, .icon-checkmark-circle:before, .icon-loop:before {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-download:before {
  content: "\e05e"; }

.icon-lock:before {
  content: "\e089"; }

.icon-unlocked:before {
  content: "\e08a"; }

.icon-home:before {
  content: "\e000"; }

.icon-user:before {
  content: "\e070"; }

.icon-users:before {
  content: "\e071"; }

.icon-user-2:before {
  content: "\e075"; }

.icon-spinner:before {
  content: "\e078"; }

.icon-cog:before {
  content: "\e08e"; }

.icon-pie:before {
  content: "\e095"; }

.icon-stats:before {
  content: "\e096"; }

.icon-bars:before {
  content: "\e097"; }

.icon-bars-2:before {
  content: "\e098"; }

.icon-clock:before {
  content: "\e048"; }

.icon-folder:before {
  content: "\e02e"; }

.icon-folder-open:before {
  content: "\e02f"; }

.icon-tag:before {
  content: "\e030"; }

.icon-tags:before {
  content: "\e031"; }

.icon-link:before {
  content: "\e0c3"; }

.icon-eye:before {
  content: "\e0c6"; }

.icon-flickr:before {
  content: "\e17a"; }

.icon-table:before {
  content: "\e14b"; }

.icon-minus:before {
  content: "\e101"; }

.icon-plus:before {
  content: "\e102"; }

.icon-play:before {
  content: "\e10a"; }

.icon-info:before {
  content: "\e0f7"; }

.icon-warning:before {
  content: "\e0f4"; }

.icon-signup:before {
  content: "\e0b3"; }

.icon-bookmark:before {
  content: "\e0c9"; }

.icon-bookmarks:before {
  content: "\e0ca"; }

.icon-calendar:before {
  content: "\e04e"; }

.icon-new-tab:before {
  content: "\e15a"; }

.icon-console:before {
  content: "\e15d"; }

.icon-filter:before {
  content: "\e13f"; }

.icon-arrow-up:before {
  content: "\e120"; }

.icon-arrow-down:before {
  content: "\e124"; }

.icon-close:before {
  content: "\e0fd"; }

.icon-checkmark:before {
  content: "\e0fe"; }

.icon-enter:before {
  content: "\e103"; }

.icon-exit:before {
  content: "\e104"; }

.icon-flag:before {
  content: "\e0c4"; }

.icon-attachment:before {
  content: "\e0c5"; }

.icon-cancel-circle:before {
  content: "\e0fa"; }

.icon-checkmark-circle:before {
  content: "\e0fb"; }

.icon-loop:before {
  content: "\e11d"; }

/*

Original style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/
pre code {
  display: block;
  padding: 0.5em;
  background: #F0F0F0; }

pre code,
pre .subst,
pre .tag .title,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title {
  color: black; }

pre .string,
pre .title,
pre .constant,
pre .parent,
pre .tag .value,
pre .rules .value,
pre .rules .value .number,
pre .preprocessor,
pre .ruby .symbol,
pre .ruby .symbol .string,
pre .aggregate,
pre .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .addition,
pre .flow,
pre .stream,
pre .bash .variable,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .tex .special,
pre .erlang_repl .function_or_atom,
pre .markdown .header {
  color: #800; }

pre .comment,
pre .annotation,
pre .template_comment,
pre .diff .header,
pre .chunk,
pre .markdown .blockquote {
  color: #888; }

pre .number,
pre .date,
pre .regexp,
pre .literal,
pre .smalltalk .symbol,
pre .smalltalk .char,
pre .go .constant,
pre .change,
pre .markdown .bullet,
pre .markdown .link_url {
  color: #080; }

pre .label,
pre .javadoc,
pre .ruby .string,
pre .decorator,
pre .filter .argument,
pre .localvars,
pre .array,
pre .attr_selector,
pre .important,
pre .pseudo,
pre .pi,
pre .doctype,
pre .deletion,
pre .envvar,
pre .shebang,
pre .apache .sqbracket,
pre .nginx .built_in,
pre .tex .formula,
pre .erlang_repl .reserved,
pre .prompt,
pre .markdown .link_label,
pre .vhdl .attribute,
pre .clojure .attribute,
pre .coffeescript .property {
  color: #8888ff; }

pre .keyword,
pre .id,
pre .phpdoc,
pre .title,
pre .built_in,
pre .aggregate,
pre .css .tag,
pre .javadoctag,
pre .phpdoc,
pre .yardoctag,
pre .smalltalk .class,
pre .winutils,
pre .bash .variable,
pre .apache .tag,
pre .go .typename,
pre .tex .command,
pre .markdown .strong,
pre .request,
pre .status {
  font-weight: bold; }

pre .markdown .emphasis {
  font-style: italic; }

pre .nginx .built_in {
  font-weight: normal; }

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5; }

/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.tomorrow-comment, pre .comment, pre .title {
  color: #8e908c;
  font-style: italic; }

.tomorrow-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
  color: #c82829; }

.tomorrow-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
  color: #f5871f; }

.tomorrow-yellow, pre .class, pre .ruby .class .title, pre .css .rules .attribute {
  color: #eab700; }

.tomorrow-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
  color: #70A500; }

.tomorrow-aqua, pre .css .hexcolor {
  color: #3e999f; }

.tomorrow-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
  color: #4271ae; }

.tomorrow-purple, pre .keyword, pre .javascript .function {
  color: #8959a8; }

.gui-btn {
  display: inline-block;
  cursor: default;
  padding: 6px 12px;
  overflow: visible;
  /* Removes crazy padding in IE7 */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  border: 1px solid #aeaeae;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e1e1e1), color-stop(1, #fdfdfd));
  background: -ms-linear-gradient(top, #fdfdfd 0%, #e1e1e1 100%);
  background: -moz-linear-gradient(top, #fdfdfd 0%, #e1e1e1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#e1e1e1') chroma(color=black);
  background-color: #fdfdfd;
  color: #555;
  text-shadow: white 0px 1px; }
  .gui-btn:not(.btn-disabled):active {
    box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.4); }
  .gui-btn:focus {
    box-shadow: 0 0 5px rgba(14, 158, 211, 0.4);
    -moz-box-shadow: 0 0 5px rgba(14, 158, 211, 0.4);
    -webkit-box-shadow: 0 0 5px rgba(14, 158, 211, 0.4);
    -ms-box-shadow: 0 0 5px rgba(14, 158, 211, 0.4);
    border-color: #0e9ed3 !important;
    outline: none; }
  .gui-btn.btn-link {
    background: none;
    border-color: transparent;
    cursor: pointer;
    filter: none;
    color: #000;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none; }
  .gui-btn.btn-primary {
    border: 1px solid #093aa8;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2464f3), color-stop(1, #638cf5));
    background: -ms-linear-gradient(top, #638cf5 0%, #2464f3 100%);
    background: -moz-linear-gradient(top, #638cf5 0%, #2464f3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#638cf5', endColorstr='#2464f3') chroma(color=black);
    background-color: #638cf5;
    color: #fff;
    text-shadow: black 0px -1px; }
    .gui-btn.btn-primary:not(.btn-disabled):active {
      box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.4);
      -ms-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.4); }
    .gui-btn.btn-primary:focus {
      border-color: #16409F; }
  .gui-disabled .gui-btn, .gui-btn.gui-disabled {
    border: 1px solid #888888;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #bbbbbb), color-stop(1, #bbbbbb));
    background: -ms-linear-gradient(top, #bbbbbb 0%, #bbbbbb 100%);
    background: -moz-linear-gradient(top, #bbbbbb 0%, #bbbbbb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbbbbb', endColorstr='#bbbbbb') chroma(color=black);
    background-color: #bbbbbb;
    color: #555;
    text-shadow: white 0px 1px;
    text-shadow: #999999 0px -1px;
    border: 1px solid #9e9e9e;
    color: #fff; }
    .gui-disabled .gui-btn:not(.btn-disabled):active, .gui-btn.gui-disabled:not(.btn-disabled):active {
      box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.4);
      -ms-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.4); }

.gui-editor {
  position: relative;
  outline: none; }
  .gui-editor .toolbar {
    height: 30px; }
    .gui-editor .toolbar li {
      float: left;
      margin-right: 5px; }
  .gui-editor .left {
    float: left;
    width: 100%; }
  .gui-editor .right {
    float: right;
    width: 0; }
  .gui-editor .clear {
    overflow: hidden; }
  .gui-editor .pane {
    border: none;
    padding: 0;
    font: 12px "Trebuchet MS";
    outline: none;
    color: #555;
    min-height: 40px; }
    .gui-editor .pane section {
      margin-bottom: 20px;
      padding: 10px;
      padding-left: 13px;
      border: 1px solid #cccccc;
      background-color: #fafafa;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
    .gui-editor .pane pre {
      font-size: 13px;
      background-color: #f1f1f1;
      padding: 10px;
      margin: 20px 0;
      display: block; }
    .gui-editor .pane pre code {
      background-color: #f1f1f1; }
    .gui-editor .pane p {
      margin-bottom: 10px; }
      .gui-editor .pane p:last-child {
        margin-bottom: 0px; }
    .gui-editor .pane h1, .gui-editor .pane h2, .gui-editor .pane h3 {
      color: #000; }
    .gui-editor .pane h2 {
      border: none;
      font-size: 17px; }
    .gui-editor .pane h3 {
      border-bottom: 1px solid #dddddd;
      margin-bottom: 5px;
      padding-bottom: 3px;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 25px; }
    .gui-editor .pane strong {
      font-weight: bold;
      color: #000; }
    .gui-editor .pane ul {
      list-style-type: disc;
      margin: 20px 0 20px 20px; }
    .gui-editor .pane li {
      margin-bottom: 5px;
      padding-left: 5px; }
    .gui-editor .pane section > div {
      border: 1px solid red; }
    .gui-editor .pane section > div.fileview,
    .gui-editor .pane section > div.codeview {
      border: none; }
  .gui-editor pre.html {
    padding: 10px;
    padding-left: 25px;
    white-space: pre-wrap;
    display: none; }

.fileview {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f1f1f1;
  outline: none; }
  .fileview .file {
    width: 128px;
    height: 150px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 15px;
    text-align: center; }
  .fileview .file .icon {
    width: 128px;
    height: 128px;
    margin-bottom: 8px; }
  .fileview .file .name {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 112px;
    height: 16px;
    font: 11px "Trebuchet MS";
    padding: 3px 8px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 12px; }
  .fileview .file .icon {
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center; }
  .fileview .file .icon img {
    max-width: 128px;
    max-height: 128px;
    border: 1px solid white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
  .fileview .file.new.psd .icon {
    background: url(/img/icons/psd.png) no-repeat; }
  .fileview .file.new.pdf .icon {
    background: url(/img/icons/pdf.png) no-repeat; }
  .fileview .file.selected .icon img {
    outline: 1px solid #999999; }
  .fileview .file.selected .name {
    background-color: #999;
    color: #fff;
    display: inline-block; }
  .fileview:focus .file.selected .icon img {
    outline: 1px solid #3b77d5; }
  .fileview:focus .file.selected .name {
    background-color: #3B77D5; }

.fileview-quicklook {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  position: fixed;
  border: 1px solid red;
  text-align: center; }

/* ========== */
/* = Fields = */
/* ========== */
.gui-text, .gui-password, .gui-textarea, .gui-date .gui-text {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: text;
  border: 1px solid #cccccc;
  padding: 2px 5px;
  outline: none;
  background-color: #fff;
  line-height: 20px;
  height: 25px; }
  .gui-text.empty, .empty.gui-password, .empty.gui-textarea {
    font-style: italic;
    color: #999; }
  .gui-text:focus, .gui-password:focus, .gui-textarea:focus {
    box-shadow: 0 0 5px rgba(14, 158, 211, 0.4);
    -moz-box-shadow: 0 0 5px rgba(14, 158, 211, 0.4);
    -webkit-box-shadow: 0 0 5px rgba(14, 158, 211, 0.4);
    -ms-box-shadow: 0 0 5px rgba(14, 158, 211, 0.4);
    border-color: #0e9ed3 !important;
    outline: none; }
  .gui-text.invalid, .invalid.gui-password, .invalid.gui-textarea {
    border: 1px solid red;
    background-color: #ffece7; }
    .gui-text.invalid:focus, .invalid.gui-password:focus, .invalid.gui-textarea:focus {
      box-shadow: 0 0 5px rgba(255, 0, 0, 0.4);
      -moz-box-shadow: 0 0 5px rgba(255, 0, 0, 0.4);
      -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, 0.4);
      -ms-box-shadow: 0 0 5px rgba(255, 0, 0, 0.4);
      border-color: red !important;
      outline: none; }
  .gui-disabled .gui-text, .gui-disabled .gui-password, .gui-disabled .gui-textarea, .gui-text.gui-disabled, .gui-disabled.gui-password, .gui-disabled.gui-textarea {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
    color: #aaa;
    background-color: #f4f4f4;
    border: 1px solid #cccccc !important; }
    .gui-disabled .gui-text:focus, .gui-disabled .gui-password:focus, .gui-disabled .gui-textarea:focus, .gui-text.gui-disabled:focus, .gui-disabled.gui-password:focus, .gui-disabled.gui-textarea:focus {
      border: 1px solid #cccccc !important;
      box-shadow: none; }

.gui-password {
  -webkit-text-security: disc; }

.gui-textarea {
  height: auto;
  min-height: 40px;
  line-height: 16px; }
  .gui-textarea div, .gui-textarea p {
    margin: 0 !important;
    /* ie required important, todo: who's overriding? */ }

.gui-upload input[type="file"] {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 20px;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  width: 1px;
  min-width: 80px;
  height: 20px; }
.gui-upload .browse-container {
  height: 20px;
  position: relative; }
.gui-upload .queue li {
  white-space: nowrap;
  padding-right: 120px;
  position: relative;
  margin-top: 3px;
  padding-top: 3px;
  border-top: 1px dashed #cccccc;
  height: 18px;
  line-height: 18px; }
  .gui-upload .queue li:first-child {
    border-top: none; }
  .gui-upload .queue li.uploading {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #a1a1a1), color-stop(1, #828282));
    background: -ms-linear-gradient(top, #828282 0%, #a1a1a1 100%);
    background: -moz-linear-gradient(top, #828282 0%, #a1a1a1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#828282', endColorstr='#a1a1a1') chroma(color=black);
    background-color: #828282; }
  .gui-upload .queue li.uploading .progressbar {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #215ff6), color-stop(1, #6289f8));
    background: -ms-linear-gradient(top, #6289f8 0%, #215ff6 100%);
    background: -moz-linear-gradient(top, #6289f8 0%, #215ff6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6289f8', endColorstr='#215ff6') chroma(color=black);
    background-color: #6289f8;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px; }
  .gui-upload .queue li .name {
    position: absolute;
    left: 0px;
    right: 120px;
    top: 0px;
    bottom: 0px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis; }
  .gui-upload .queue li.uploading .name {
    color: #fff;
    padding-left: 5px; }
  .gui-upload .queue li .size {
    position: absolute;
    right: 75px;
    top: 0px;
    width: 35px;
    font-size: 10px;
    color: #999;
    height: 19px;
    line-height: 24px;
    text-align: right; }
  .gui-upload .queue li.uploading .size {
    color: #fff; }
  .gui-upload .queue li button.remove {
    position: absolute;
    right: 0px;
    top: 0px;
    display: inline-block;
    padding: #fdfdfd #e1e1e1;
    cursor: default;
    color: #333333;
    border: 1px solid #6d6d6d;
    overflow: visible;
    /* Removes crazy padding in IE7 */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, lightgrey), color-stop(1, white));
    background: -ms-linear-gradient(top, white 0%, lightgrey 100%);
    background: -moz-linear-gradient(top, white 0%, lightgrey 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='lightgrey') chroma(color=black);
    background-color: white;
    /* Hack until the border bug is fixed */ }
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      .gui-upload .queue li button.remove {
        border: none;
        padding: #fefefe #e2e2e2;
        /* compensate for missing border */
        box-shadow: 0px 0px 0px 1px #6d6d6d; } }
    .gui-upload .queue li button.remove:active {
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(1, lightgrey));
      background: -ms-linear-gradient(top, lightgrey 0%, white 100%);
      background: -moz-linear-gradient(top, lightgrey 0%, white 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='lightgrey', endColorstr='white') chroma(color=black);
      background-color: lightgrey; }

.gui-checkbox, .gui-radio {
  cursor: default;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  height: 17px;
  display: inline-block; }
  .gui-checkbox:active:before, .gui-radio:active:before, .gui-checkbox.active:before, .active.gui-radio:before {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #c7c7c7));
    background: -ms-linear-gradient(top, #c7c7c7 0%, #e6e6e6 100%);
    background: -moz-linear-gradient(top, #c7c7c7 0%, #e6e6e6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7c7c7', endColorstr='#e6e6e6') chroma(color=black);
    background-color: #c7c7c7;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3); }
  .gui-checkbox:focus:before, .gui-radio:focus:before {
    border-color: #0e9ed3 !important;
    box-shadow: 0 0 5px rgba(14, 158, 211, 0.4);
    -moz-box-shadow: 0 0 5px rgba(14, 158, 211, 0.4);
    -webkit-box-shadow: 0 0 5px rgba(14, 158, 211, 0.4);
    -ms-box-shadow: 0 0 5px rgba(14, 158, 211, 0.4);
    outline: none; }
  .ie7 .gui-checkbox, .ie7 .gui-radio {
    zoom: 1;
    *display: inline; }
  .gui-checkbox:before, .gui-radio:before {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e0e0e0), color-stop(1, white));
    background: -ms-linear-gradient(top, white 0%, #e0e0e0 100%);
    background: -moz-linear-gradient(top, white 0%, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#e0e0e0') chroma(color=black);
    background-color: white;
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    width: 15px;
    height: 15px;
    content: '\00a0';
    border: 1px solid #999999;
    text-align: center;
    font-size: 11px;
    line-height: 16px;
    margin-right: 6px;
    margin-left: 3px; }
    .gui-checkbox:before i, .gui-radio:before i {
      display: none; }
    .ie7 .gui-checkbox:before i, .ie7 .gui-radio:before i {
      font-style: normal;
      display: inline; }
    .gui-checkbox:before:before, .gui-radio:before:before {
      content: "\00a0"; }
    .ie7 .gui-checkbox:before, .ie7 .gui-radio:before {
      zoom: 1;
      *display: inline; }
  .gui-checkbox.gui-checked:before, .gui-checked.gui-radio:before {
    content: "\e0fe"; }
  .gui-disabled .gui-checkbox, .gui-disabled .gui-radio, .gui-checkbox.gui-disabled, .gui-disabled.gui-radio {
    color: #aaa; }
    .gui-disabled .gui-checkbox:before, .gui-disabled .gui-radio:before, .gui-checkbox.gui-disabled:before, .gui-disabled.gui-radio:before {
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f4f4f4), color-stop(1, #f4f4f4));
      background: -ms-linear-gradient(top, #f4f4f4 0%, #f4f4f4 100%);
      background: -moz-linear-gradient(top, #f4f4f4 0%, #f4f4f4 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#f4f4f4') chroma(color=black);
      background-color: #f4f4f4;
      border: 1px solid #cccccc !important; }
    .gui-disabled .gui-checkbox:focus:before, .gui-disabled .gui-radio:focus:before, .gui-checkbox.gui-disabled:focus:before, .gui-disabled.gui-radio:focus:before {
      border: 1px solid #cccccc !important;
      box-shadow: none; }
  .ie7 .gui-checkbox i, .ie7 .gui-radio i {
    display: none; }
  .ie7 .gui-checkbox.gui-checked i, .ie7 .gui-checked.gui-radio i {
    display: inline;
    color: #111; }

.gui-radio {
  padding-left: 25px;
  position: relative;
  line-height: 20px; }
  .gui-radio:before {
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    position: absolute;
    left: 0px;
    top: 0px; }
  .gui-radio.gui-checked:before {
    content: '\2022';
    font-weight: bold;
    font-size: 30px;
    line-height: 11px; }

/* ========= */
/* = Combo = */
/* ========= */
.gui-combo {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e0e0e0), color-stop(1, white));
  background: -ms-linear-gradient(top, white 0%, #e0e0e0 100%);
  background: -moz-linear-gradient(top, white 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#e0e0e0') chroma(color=black);
  background-color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: relative;
  height: 24px;
  border: 1px solid #bcbcbc;
  /* Add a magnifying glass icon when typing in a searchable dropdown */ }
  .gui-combo:focus {
    box-shadow: 0 0 5px rgba(14, 158, 211, 0.4);
    -moz-box-shadow: 0 0 5px rgba(14, 158, 211, 0.4);
    -webkit-box-shadow: 0 0 5px rgba(14, 158, 211, 0.4);
    -ms-box-shadow: 0 0 5px rgba(14, 158, 211, 0.4);
    border-color: #0e9ed3 !important;
    outline: none; }
  .gui-combo > i {
    display: none; }
  .gui-combo span {
    color: #444;
    text-shadow: white 0px 1px;
    line-height: 26px;
    cursor: default;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    padding-right: 25px;
    padding-left: 5px;
    position: relative;
    text-shadow: none; }
  .gui-combo button {
    background: url(../img/combo.png) no-repeat center right;
    position: absolute;
    right: 0px;
    width: 21px;
    top: 0px;
    bottom: 0px;
    border: none; }
  .gui-combo.editable {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text; }
  .gui-combo.editable span {
    background-color: #fff;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    height: 20px;
    margin: 0px;
    line-height: 20px;
    padding-right: 0px;
    cursor: text;
    position: relative;
    left: -1px;
    top: -1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px; }
  .gui-combo.searchable.editable > i {
    display: block;
    width: 16px;
    height: 16px;
    background: url(../img/icons.png) no-repeat 0 0;
    position: absolute;
    top: 2px;
    left: 3px;
    z-index: 1; }
  .gui-combo.searchable.editable span {
    margin-left: 22px;
    border-color: #aaa;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
  .gui-disabled .gui-combo, .gui-combo.gui-disabled {
    color: #aaa;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f4f4f4), color-stop(1, #f4f4f4));
    background: -ms-linear-gradient(top, #f4f4f4 0%, #f4f4f4 100%);
    background: -moz-linear-gradient(top, #f4f4f4 0%, #f4f4f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#f4f4f4') chroma(color=black);
    background-color: #f4f4f4;
    border: 1px solid #cccccc !important; }
    .gui-disabled .gui-combo span, .gui-combo.gui-disabled span {
      color: #999; }
    .gui-disabled .gui-combo:focus, .gui-combo.gui-disabled:focus {
      border: 1px solid #cccccc !important;
      box-shadow: none; }

.gui-hidden {
  display: none; }

/* ========== */
/* = Slider = */
/* ========== */
.gui-slider {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  box-shadow: 0 0 5px rgba(14, 158, 211, 0.4);
  -moz-box-shadow: 0 0 5px rgba(14, 158, 211, 0.4);
  -webkit-box-shadow: 0 0 5px rgba(14, 158, 211, 0.4);
  -ms-box-shadow: 0 0 5px rgba(14, 158, 211, 0.4);
  border-color: #0e9ed3 !important;
  outline: none;
  position: relative;
  outline: none;
  height: 20px; }
  .gui-slider .container {
    margin-right: 16px;
    height: 20px;
    position: relative; }
  .gui-slider .range,
  .gui-slider .range-min {
    position: absolute;
    left: 0px;
    top: 7px;
    height: 6px;
    border: 1px solid #bcbcbc;
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3; }
  .gui-slider .range {
    right: 0px;
    background-color: #fff; }
  .gui-slider .range-min {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cccccc), color-stop(1, #adadad));
    background: -ms-linear-gradient(top, #adadad 0%, #cccccc 100%);
    background: -moz-linear-gradient(top, #adadad 0%, #cccccc 100%); }
    .ie7 .gui-slider .range-min, .ie8 .gui-slider .range-min {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#adadad', endColorstr='#cccccc') chroma(color=black);
      background-color: #adadad; }
  .gui-slider .handle {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e0e0e0), color-stop(1, white));
    background: -ms-linear-gradient(top, white 0%, #e0e0e0 100%);
    background: -moz-linear-gradient(top, white 0%, #e0e0e0 100%);
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3;
    top: 0px;
    width: 16px;
    height: 20px;
    background-color: #999;
    position: absolute;
    height: 20px;
    border: 1px solid #bcbcbc; }
    .ie7 .gui-slider .handle, .ie8 .gui-slider .handle {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#e0e0e0') chroma(color=black);
      background-color: white; }
    .gui-slider .handle div {
      height: 20px;
      background: url(../img/slider.png) no-repeat center center; }

.gui-checkboxgroup li {
  margin-bottom: 3px; }

.gui-radiogroup li {
  margin-bottom: 3px; }

/* ============= */
/* = DateField = */
/* ============= */
.gui-date {
  position: relative;
  display: inline-block;
  width: 150px; }
  .gui-date > button {
    position: absolute;
    left: 4px;
    top: 2px;
    width: 20px;
    filter: none;
    border: none; }
  .gui-date .gui-text, .gui-date .gui-password, .gui-date .gui-textarea {
    border: 1px solid #cccccc;
    text-indent: 22px; }

.gui-simpleform > ul > li {
  margin-bottom: 5px; }
  .gui-simpleform > ul > li .label {
    padding: 3px;
    color: #777;
    text-shadow: white 0px 2px; }

.token-direction, .columnfield li {
  position: relative;
  display: inline-block;
  height: 15px;
  overflow: hidden;
  line-height: 130%;
  padding: 2px 10px;
  border: 1px solid #94b5d2;
  margin-right: 3px;
  background-color: #d5dde5;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  cursor: default;
  margin-bottom: 4px;
  height: 20px;
  padding: 0px 10px;
  line-height: 20px;
  position: relative;
  padding-right: 0px; }
  .ie7 .token-direction, .ie7 .columnfield li, .columnfield .ie7 li {
    zoom: 1;
    *display: inline;
    padding: 1px 10px 3px 10px; }
  .token-direction span, .columnfield li span {
    display: inline-block;
    border-right: 1px solid #94b5d2;
    padding-right: 8px;
    height: 20px; }
    .ie7 .token-direction span, .ie7 .columnfield li span, .columnfield .ie7 li span {
      zoom: 1;
      *display: inline; }
  .token-direction i, .columnfield li i {
    width: 25px;
    height: 20px;
    display: inline-block;
    color: #4A5864;
    line-height: 22px;
    font-size: 12px;
    text-align: center;
    cursor: pointer; }
    .ie7 .token-direction i, .ie7 .columnfield li i, .columnfield .ie7 li i {
      zoom: 1;
      *display: inline; }
  .token-direction.asc .direction, .columnfield li.asc .direction {
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased; }
    .token-direction.asc .direction i, .columnfield li.asc .direction i {
      display: none; }
    .ie7 .token-direction.asc .direction i, .ie7 .columnfield li.asc .direction i, .columnfield .ie7 li.asc .direction i {
      font-style: normal;
      display: inline; }
    .token-direction.asc .direction:before, .columnfield li.asc .direction:before {
      content: "\e120"; }
  .token-direction.desc .direction, .columnfield li.desc .direction {
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased; }
    .token-direction.desc .direction i, .columnfield li.desc .direction i {
      display: none; }
    .ie7 .token-direction.desc .direction i, .ie7 .columnfield li.desc .direction i, .columnfield .ie7 li.desc .direction i {
      font-style: normal;
      display: inline; }
    .token-direction.desc .direction:before, .columnfield li.desc .direction:before {
      content: "\e124"; }
  .token-direction.selected i, .columnfield li.selected i {
    font-style: normal;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0px -1px; }

.gui-token.gui-ghost,
.token-direction.gui-ghost,
.columnfield li.gui-ghost {
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 17px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 8px 17px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 8px 17px rgba(0, 0, 0, 0.3); }

.columnfield {
  position: relative;
  border: 1px solid #cccccc;
  min-height: 24px;
  background-color: #fff;
  padding: 3px 5px;
  padding-bottom: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .columnfield .selected {
    background-color: #7c7c7c;
    color: #fff;
    border-color: #494949; }
  .columnfield:focus .selected, .columnfield.focus .selected {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2464f3), color-stop(1, #638cf5));
    background: -ms-linear-gradient(top, #638cf5 0%, #2464f3 100%);
    background: -moz-linear-gradient(top, #638cf5 0%, #2464f3 100%);
    border-color: #1e498c; }
    .ie7 .columnfield:focus .selected, .ie8 .columnfield:focus .selected, .ie7 .columnfield.focus .selected, .ie8 .columnfield.focus .selected {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#638cf5', endColorstr='#2464f3') chroma(color=black);
      background-color: #638cf5; }
  .columnfield ul {
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */ }
    .columnfield ul:before, .columnfield ul:after {
      content: "";
      display: table; }
    .columnfield ul:after {
      clear: both; }
  .columnfield .buttons {
    border-left: 1px solid #cccccc;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 2px 4px;
    background-color: #fff; }
    .columnfield .buttons button {
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      cursor: default;
      padding: 6px 12px;
      overflow: visible;
      /* Removes crazy padding in IE7 */
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      font-size: 12px;
      outline: none;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
      border: 1px solid #aeaeae;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e1e1e1), color-stop(1, white));
      background: -ms-linear-gradient(top, white 0%, #e1e1e1 100%);
      background: -moz-linear-gradient(top, white 0%, #e1e1e1 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#e1e1e1') chroma(color=black);
      background-color: white;
      color: #555;
      text-shadow: white 0px 1px;
      height: 23px;
      width: 23px;
      padding: 0;
      line-height: 25px;
      font-size: 9px;
      text-align: center; }
      .columnfield .buttons button:before {
        content: ""; }
      .columnfield .buttons button:not(.btn-disabled):active {
        box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.4);
        -ms-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.4); }
      .columnfield .buttons button.add:before {
        content: "\e102"; }
      .columnfield .buttons button.remove:before {
        content: "\e101"; }
  .columnfield:focus, .columnfield.focus {
    border-color: #0e9ed3 !important;
    box-shadow: 0 0 5px rgba(14, 158, 211, 0.4);
    -moz-box-shadow: 0 0 5px rgba(14, 158, 211, 0.4);
    -webkit-box-shadow: 0 0 5px rgba(14, 158, 211, 0.4);
    -ms-box-shadow: 0 0 5px rgba(14, 158, 211, 0.4);
    outline: none; }
  .columnfield.over {
    background-color: #F2F7FC;
    border-color: #0e9ed3;
    -webkit-animation-name: greenPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite; }
  .columnfield li .gui-checkbox, .columnfield li .gui-radio {
    margin-top: -1px;
    width: 13px;
    height: 13px;
    line-height: 14px;
    font-size: 10px; }

/* ========== */
/* = Dialog = */
/* ========== */
.gui-win, .gui-dialog {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  position: absolute;
  background-color: #f4f4f4;
  outline: none;
  z-index: 100;
  min-width: 200px;
  min-height: 200px; }
  .gui-win > header, .gui-dialog > header {
    font-size: 12px;
    background-color: #999;
    padding: 7px 10px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; }
    .gui-win > header .title, .gui-dialog > header .title {
      font: 13px "Trebuchet MS";
      min-height: 15px;
      line-height: 15px;
      color: #fff;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .gui-win > .content, .gui-dialog > .content {
    position: absolute;
    top: 30px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto; }
  .gui-win > .resize, .gui-dialog > .resize {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 16px;
    height: 16px;
    cursor: se-resize;
    z-index: 1; }
  .ie7 .gui-win, .ie7 .gui-dialog, .ie8 .gui-win, .ie8 .gui-dialog {
    /* Left, right */
    /* Bottom */
    /* Top */ }
    .ie7 .gui-win .ds, .ie7 .gui-dialog .ds, .ie8 .gui-win .ds, .ie8 .gui-dialog .ds {
      position: absolute;
      overflow: hidden; }
    .ie7 .gui-win .ds_l, .ie7 .gui-dialog .ds_l,
    .ie7 .gui-win .ds_r,
    .ie7 .gui-dialog .ds_r, .ie8 .gui-win .ds_l, .ie8 .gui-dialog .ds_l,
    .ie8 .gui-win .ds_r,
    .ie8 .gui-dialog .ds_r {
      top: 20px;
      bottom: 20px;
      width: 20px;
      overflow: hidden; }
    .ie7 .gui-win .ds_l, .ie7 .gui-dialog .ds_l, .ie8 .gui-win .ds_l, .ie8 .gui-dialog .ds_l {
      left: -20px;
      background: url(../img/ds_vert.png) repeat-y; }
    .ie7 .gui-win .ds_r, .ie7 .gui-dialog .ds_r, .ie8 .gui-win .ds_r, .ie8 .gui-dialog .ds_r {
      right: -20px;
      background: url(../img/ds_vert.png) repeat-y top right; }
    .ie7 .gui-win .ds_bl, .ie7 .gui-dialog .ds_bl,
    .ie7 .gui-win .ds_br,
    .ie7 .gui-dialog .ds_br, .ie8 .gui-win .ds_bl, .ie8 .gui-dialog .ds_bl,
    .ie8 .gui-win .ds_br,
    .ie8 .gui-dialog .ds_br {
      width: 40px;
      height: 50px;
      bottom: -30px; }
    .ie7 .gui-win .ds_bl, .ie7 .gui-dialog .ds_bl, .ie8 .gui-win .ds_bl, .ie8 .gui-dialog .ds_bl {
      left: -20px;
      background: url(../img/ds_corners.png) no-repeat bottom left; }
    .ie7 .gui-win .ds_br, .ie7 .gui-dialog .ds_br, .ie8 .gui-win .ds_br, .ie8 .gui-dialog .ds_br {
      right: -20px;
      background: url(../img/ds_corners.png) no-repeat bottom right; }
    .ie7 .gui-win .ds_b, .ie7 .gui-dialog .ds_b, .ie8 .gui-win .ds_b, .ie8 .gui-dialog .ds_b {
      bottom: -30px;
      left: 20px;
      right: 20px;
      height: 30px;
      background: url(../img/ds_hor.png) repeat-x left bottom; }
    .ie7 .gui-win .ds_tl, .ie7 .gui-dialog .ds_tl,
    .ie7 .gui-win .ds_tr,
    .ie7 .gui-dialog .ds_tr, .ie8 .gui-win .ds_tl, .ie8 .gui-dialog .ds_tl,
    .ie8 .gui-win .ds_tr,
    .ie8 .gui-dialog .ds_tr {
      height: 25px;
      top: -5px;
      width: 40px; }
    .ie7 .gui-win .ds_tl, .ie7 .gui-dialog .ds_tl, .ie8 .gui-win .ds_tl, .ie8 .gui-dialog .ds_tl {
      left: -20px;
      background: url(../img/ds_corners.png) no-repeat top left; }
    .ie7 .gui-win .ds_tr, .ie7 .gui-dialog .ds_tr, .ie8 .gui-win .ds_tr, .ie8 .gui-dialog .ds_tr {
      right: -20px;
      background: url(../img/ds_corners.png) no-repeat top right; }
    .ie7 .gui-win .ds_t, .ie7 .gui-dialog .ds_t, .ie8 .gui-win .ds_t, .ie8 .gui-dialog .ds_t {
      left: 20px;
      right: 20px;
      top: -5px;
      height: 5px;
      background: url(../img/ds_hor.png) repeat-x; }

.gui-dialog > .content {
  bottom: 30px; }
.gui-dialog > footer {
  border-top: 1px dashed #dddddd;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 50px;
  text-align: right; }
  .gui-dialog > footer .buttons {
    padding: 10px; }

/* ============ */
/* = Dropdown = */
/* ============ */
.gui-menu {
  display: block;
  min-width: 100px;
  position: absolute;
  color: #444;
  font-size: 11px;
  text-align: left;
  min-width: 150px;
  padding: 3px 0px;
  line-height: 13px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 500;
  overflow: visible;
  background-color: #fff;
  outline: none;
  list-style-type: none;
  margin: 0; }
  .gui-menu .selected {
    background-color: #7c7c7c;
    color: #fff;
    border-color: #494949; }
  .gui-menu:focus .selected, .gui-menu.focus .selected {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2464f3), color-stop(1, #638cf5));
    background: -ms-linear-gradient(top, #638cf5 0%, #2464f3 100%);
    background: -moz-linear-gradient(top, #638cf5 0%, #2464f3 100%);
    border-color: #1e498c; }
    .ie7 .gui-menu:focus .selected, .ie8 .gui-menu:focus .selected, .ie7 .gui-menu.focus .selected, .ie8 .gui-menu.focus .selected {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#638cf5', endColorstr='#2464f3') chroma(color=black);
      background-color: #638cf5; }
  .gui-menu > li {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
    list-style-type: none;
    margin: 0;
    padding: 4px 15px;
    color: #444;
    display: block;
    text-decoration: none;
    position: relative; }
    .gui-menu > li.disabled {
      color: #aaa; }
    .gui-menu > li.submenu > i {
      display: block;
      position: absolute;
      right: 0px;
      top: 0px;
      bottom: 0px;
      line-height: 22px;
      width: 20px; }
  .gui-menu > li.spacer {
    margin: 5px 0;
    background-color: #ddd;
    height: 1px;
    overflow: hidden;
    padding: 0px; }
  .gui-menu i {
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    display: none; }
    .gui-menu i:before {
      content: ""; }

/* ============ */
/* = Calendar = */
/* ============ */
.gui-calendar {
  outline: none; }
  .gui-calendar table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%; }
  .gui-calendar thead {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; }
    .gui-calendar thead th {
      text-align: center; }
    .gui-calendar thead .header {
      position: relative;
      height: 30px; }
    .gui-calendar thead .monthname {
      font-size: 14px;
      text-align: center; }
  .gui-calendar .nextmonth,
  .gui-calendar .prevmonth {
    width: 13px;
    height: 13px;
    overflow: hidden;
    position: absolute;
    background-color: #ddd;
    top: 7px;
    left: 7px;
    cursor: pointer; }
  .gui-calendar .nextmonth {
    left: auto;
    right: 5px; }
  .gui-calendar td {
    border: 1px solid #dddddd;
    white-space: nowrap;
    padding: 0; }
    .gui-calendar td.day > div {
      padding: 1px;
      overflow: hidden;
      position: relative; }
      .gui-calendar td.day > div .date {
        position: absolute;
        top: 2px;
        right: 2px;
        width: 15px;
        height: 13px;
        text-align: right;
        color: #999;
        font-size: 11px; }
    .gui-calendar td.gray > div {
      color: #aaa; }
    .gui-calendar td.over {
      outline: 3px solid #a7bac6; }
    .gui-calendar td.today {
      background-color: #ffefb9 !important; }
    .gui-calendar td.weekend {
      background-color: #f8f8f8; }
  .gui-calendar:focus .day.selected .date {
    color: #fff; }

/* ============== */
/* = DatePicker = */
/* ============== */
.gui-datepicker {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 250px;
  position: absolute;
  background-color: #fff;
  z-index: 1000;
  cursor: default; }
  .gui-datepicker .selected {
    background-color: #7c7c7c;
    color: #fff;
    border-color: #494949; }
  .gui-datepicker:focus .selected, .gui-datepicker.focus .selected {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2464f3), color-stop(1, #638cf5));
    background: -ms-linear-gradient(top, #638cf5 0%, #2464f3 100%);
    background: -moz-linear-gradient(top, #638cf5 0%, #2464f3 100%);
    border-color: #1e498c; }
    .ie7 .gui-datepicker:focus .selected, .ie8 .gui-datepicker:focus .selected, .ie7 .gui-datepicker.focus .selected, .ie8 .gui-datepicker.focus .selected {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#638cf5', endColorstr='#2464f3') chroma(color=black);
      background-color: #638cf5; }
  .gui-datepicker:focus {
    outline: none; }
  .gui-datepicker td.day > div {
    min-height: 20px;
    position: relative; }
  .gui-datepicker .gui-calendar .selected {
    background-color: #7c7c7c;
    color: #fff;
    border-color: #494949; }
  .gui-datepicker .gui-calendar:focus .selected, .gui-datepicker .gui-calendar.focus .selected {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2464f3), color-stop(1, #638cf5));
    background: -ms-linear-gradient(top, #638cf5 0%, #2464f3 100%);
    background: -moz-linear-gradient(top, #638cf5 0%, #2464f3 100%);
    border-color: #1e498c; }
    .ie7 .gui-datepicker .gui-calendar:focus .selected, .ie8 .gui-datepicker .gui-calendar:focus .selected, .ie7 .gui-datepicker .gui-calendar.focus .selected, .ie8 .gui-datepicker .gui-calendar.focus .selected {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#638cf5', endColorstr='#2464f3') chroma(color=black);
      background-color: #638cf5; }
  .gui-datepicker .gui-calendar .day.selected .date {
    color: #fff; }

.gui-filterview {
  margin-bottom: 20px;
  margin-top: 20px; }
  .gui-filterview li {
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */
    margin-bottom: 3px; }
    .gui-filterview li:before, .gui-filterview li:after {
      content: "";
      display: table; }
    .gui-filterview li:after {
      clear: both; }
  .gui-filterview .title {
    display: inline-block;
    width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    line-height: 25px; }
  .gui-filterview .fields {
    display: inline-block; }
    .gui-filterview .fields > .gui-combobox, .gui-filterview .fields > .gui-date, .gui-filterview .fields > .gui-text, .gui-filterview .fields > .gui-password, .gui-filterview .fields > .gui-textarea, .gui-filterview .fields > .gui-datefield {
      width: 150px;
      display: inline-block;
      margin-left: 20px;
      box-sizing: border-box; }
    .gui-filterview .fields > *:first-child {
      margin-left: 0px; }
  .gui-filterview .gui-form > * {
    margin-right: 20px;
    height: 26px;
    overflow: hidden;
    float: left; }
  .gui-filterview .buttons {
    margin-top: 10px; }
  .gui-filterview .tools {
    display: inline-block; }
    .gui-filterview .tools button {
      display: inline-block;
      cursor: default;
      padding: 4px 8px;
      overflow: visible;
      /* Removes crazy padding in IE7 */
      border: 1px solid #919191;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e1e1e1), color-stop(1, white));
      background: -ms-linear-gradient(top, white 0%, #e1e1e1 100%);
      background: -moz-linear-gradient(top, white 0%, #e1e1e1 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#e1e1e1') chroma(color=black);
      background-color: white;
      box-shadow: 0 1px 1px white;
      -moz-box-shadow: 0 1px 1px white;
      -webkit-box-shadow: 0 1px 1px white;
      -ms-box-shadow: 0 1px 1px white;
      font-weight: bold;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
      color: #555;
      text-shadow: white 0px 1px;
      height: 26px; }
      .gui-filterview .tools button:not(.disabled):active {
        background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #c8c8c8));
        background: -ms-linear-gradient(top, #c8c8c8 0%, #e6e6e6 100%);
        background: -moz-linear-gradient(top, #c8c8c8 0%, #e6e6e6 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8c8c8', endColorstr='#e6e6e6') chroma(color=black);
        background-color: #c8c8c8;
        box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.3);
        -ms-box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.3); }
      .gui-filterview .tools button.disabled {
        color: #aaaaaa !important; }
    .gui-filterview .tools button.remove:hover {
      display: inline-block;
      cursor: default;
      padding: 4px 8px;
      overflow: visible;
      /* Removes crazy padding in IE7 */
      border: 1px solid #919191;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e1e1e1), color-stop(1, white));
      background: -ms-linear-gradient(top, white 0%, #e1e1e1 100%);
      background: -moz-linear-gradient(top, white 0%, #e1e1e1 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#e1e1e1') chroma(color=black);
      background-color: white;
      box-shadow: 0 1px 1px white;
      -moz-box-shadow: 0 1px 1px white;
      -webkit-box-shadow: 0 1px 1px white;
      -ms-box-shadow: 0 1px 1px white;
      font-weight: bold;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
      color: #555;
      text-shadow: white 0px 1px;
      padding-left: 25px; }
      .gui-filterview .tools button.remove:hover:not(.disabled):active {
        background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #c8c8c8));
        background: -ms-linear-gradient(top, #c8c8c8 0%, #e6e6e6 100%);
        background: -moz-linear-gradient(top, #c8c8c8 0%, #e6e6e6 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8c8c8', endColorstr='#e6e6e6') chroma(color=black);
        background-color: #c8c8c8;
        box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.3);
        -ms-box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.3); }
      .gui-filterview .tools button.remove:hover.disabled {
        color: #aaaaaa !important; }
    .gui-filterview .tools button.remove {
      border-color: transparent;
      background: none;
      padding-left: 25px;
      position: relative; }
      .gui-filterview .tools button.remove:before {
        z-index: 1;
        content: '';
        display: inline-block;
        overflow: hidden;
        position: absolute;
        left: 6px;
        top: 7px;
        width: 13px;
        height: 13px;
        background: url(../img/icons/remove.png) no-repeat; }

.gui-table {
  outline: none;
  cursor: default;
  position: relative; }
  .gui-table:focus tbody tr.selected td, .gui-table:focus tbody tr td.selected {
    background-color: #3B77D5;
    color: #fff; }
    .gui-table:focus tbody tr.selected td a, .gui-table:focus tbody tr td.selected a {
      color: #fff; }
    .gui-table:focus tbody tr.selected td .textfield, .gui-table:focus tbody tr td.selected .textfield {
      color: #000; }
  .gui-table table {
    width: 100%;
    border-collapse: collapse;
    outline: none; }
    .gui-table table td {
      border-top: 1px solid white; }
    .gui-table table thead th {
      padding-right: 8px;
      padding-bottom: 5px;
      color: #777;
      position: relative;
      text-align: left; }
      .gui-table table thead th .resize {
        float: right;
        cursor: col-resize;
        width: 10px;
        height: 100%;
        height: 14px; }
      .gui-table table thead th .direction {
        margin-left: 5px;
        height: 17px;
        width: 20px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px; }
    .gui-table table tbody td > div {
      padding: 2px 20px 2px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .gui-table table tbody tr:first-child td {
      border-top: 1px solid #cccccc; }
    .gui-table table tbody tr:nth-child(2n) td {
      background-color: #f5f5f5; }
    .gui-table table tbody tr.selected td,
    .gui-table table tbody tr td.selected {
      background-color: #B6B6B6;
      color: #fff; }
      .gui-table table tbody tr.selected td a,
      .gui-table table tbody tr td.selected a {
        color: #fff; }
      .gui-table table tbody tr.selected td .textfield,
      .gui-table table tbody tr td.selected .textfield {
        color: #000; }

.gui-table-column-ghost {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  border: 1px solid #cccccc;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .gui-table-column-ghost > div {
    padding: 10px; }

.gui-edit {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
  cursor: text; }

.gui-spaceholder {
  visibility: hidden; }

.gui-token {
  position: relative;
  display: inline-block;
  height: 15px;
  overflow: hidden;
  line-height: 130%;
  padding: 2px 10px;
  border: 1px solid #94b5d2;
  margin-right: 3px;
  background-color: #d5dde5;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  cursor: default;
  margin-bottom: 4px; }
  .ie7 .gui-token {
    zoom: 1;
    *display: inline;
    padding: 1px 10px 3px 10px; }
