@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 13, ../../scss/icons.scss */
[data-icon]:before {
  font-family: 'icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
/* line 30, ../../scss/icons.scss */
.icon-download:before, .icon-lock:before, .icon-unlocked:before, .icon-home:before, .icon-user:before, .icon-users:before, .icon-user-2:before, .icon-spinner:before, .icon-cog:before, .icon-pie:before, .icon-stats:before, .icon-bars:before, .icon-bars-2:before, .icon-clock:before, .icon-folder:before, .icon-folder-open:before, .icon-tag:before, .icon-tags:before, .icon-link:before, .icon-eye:before, .icon-flickr:before, .icon-table:before, .icon-minus:before, .icon-plus:before, .icon-play:before, .icon-info:before, .icon-warning:before, .icon-signup:before, .icon-bookmark:before, .icon-bookmarks:before, .icon-calendar:before, .icon-new-tab:before, .icon-console:before, .icon-filter:before, .icon-arrow-up:before, .icon-arrow-down:before, .icon-close:before, .icon-checkmark:before, .icon-enter:before, .icon-exit:before, .icon-flag:before, .icon-attachment:before, .icon-cancel-circle:before, .icon-checkmark-circle:before, .icon-loop:before {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* line 40, ../../scss/icons.scss */
.icon-download:before {
  content: "\e05e"; }

/* line 43, ../../scss/icons.scss */
.icon-lock:before {
  content: "\e089"; }

/* line 46, ../../scss/icons.scss */
.icon-unlocked:before {
  content: "\e08a"; }

/* line 49, ../../scss/icons.scss */
.icon-home:before {
  content: "\e000"; }

/* line 52, ../../scss/icons.scss */
.icon-user:before {
  content: "\e070"; }

/* line 55, ../../scss/icons.scss */
.icon-users:before {
  content: "\e071"; }

/* line 58, ../../scss/icons.scss */
.icon-user-2:before {
  content: "\e075"; }

/* line 61, ../../scss/icons.scss */
.icon-spinner:before {
  content: "\e078"; }

/* line 64, ../../scss/icons.scss */
.icon-cog:before {
  content: "\e08e"; }

/* line 67, ../../scss/icons.scss */
.icon-pie:before {
  content: "\e095"; }

/* line 70, ../../scss/icons.scss */
.icon-stats:before {
  content: "\e096"; }

/* line 73, ../../scss/icons.scss */
.icon-bars:before {
  content: "\e097"; }

/* line 76, ../../scss/icons.scss */
.icon-bars-2:before {
  content: "\e098"; }

/* line 79, ../../scss/icons.scss */
.icon-clock:before {
  content: "\e048"; }

/* line 82, ../../scss/icons.scss */
.icon-folder:before {
  content: "\e02e"; }

/* line 85, ../../scss/icons.scss */
.icon-folder-open:before {
  content: "\e02f"; }

/* line 88, ../../scss/icons.scss */
.icon-tag:before {
  content: "\e030"; }

/* line 91, ../../scss/icons.scss */
.icon-tags:before {
  content: "\e031"; }

/* line 94, ../../scss/icons.scss */
.icon-link:before {
  content: "\e0c3"; }

/* line 97, ../../scss/icons.scss */
.icon-eye:before {
  content: "\e0c6"; }

/* line 100, ../../scss/icons.scss */
.icon-flickr:before {
  content: "\e17a"; }

/* line 103, ../../scss/icons.scss */
.icon-table:before {
  content: "\e14b"; }

/* line 106, ../../scss/icons.scss */
.icon-minus:before {
  content: "\e101"; }

/* line 109, ../../scss/icons.scss */
.icon-plus:before {
  content: "\e102"; }

/* line 112, ../../scss/icons.scss */
.icon-play:before {
  content: "\e10a"; }

/* line 115, ../../scss/icons.scss */
.icon-info:before {
  content: "\e0f7"; }

/* line 118, ../../scss/icons.scss */
.icon-warning:before {
  content: "\e0f4"; }

/* line 121, ../../scss/icons.scss */
.icon-signup:before {
  content: "\e0b3"; }

/* line 124, ../../scss/icons.scss */
.icon-bookmark:before {
  content: "\e0c9"; }

/* line 127, ../../scss/icons.scss */
.icon-bookmarks:before {
  content: "\e0ca"; }

/* line 130, ../../scss/icons.scss */
.icon-calendar:before {
  content: "\e04e"; }

/* line 133, ../../scss/icons.scss */
.icon-new-tab:before {
  content: "\e15a"; }

/* line 136, ../../scss/icons.scss */
.icon-console:before {
  content: "\e15d"; }

/* line 139, ../../scss/icons.scss */
.icon-filter:before {
  content: "\e13f"; }

/* line 142, ../../scss/icons.scss */
.icon-arrow-up:before {
  content: "\e120"; }

/* line 145, ../../scss/icons.scss */
.icon-arrow-down:before {
  content: "\e124"; }

/* line 148, ../../scss/icons.scss */
.icon-close:before {
  content: "\e0fd"; }

/* line 151, ../../scss/icons.scss */
.icon-checkmark:before {
  content: "\e0fe"; }

/* line 154, ../../scss/icons.scss */
.icon-enter:before {
  content: "\e103"; }

/* line 157, ../../scss/icons.scss */
.icon-exit:before {
  content: "\e104"; }

/* line 160, ../../scss/icons.scss */
.icon-flag:before {
  content: "\e0c4"; }

/* line 163, ../../scss/icons.scss */
.icon-attachment:before {
  content: "\e0c5"; }

/* line 166, ../../scss/icons.scss */
.icon-cancel-circle:before {
  content: "\e0fa"; }

/* line 169, ../../scss/icons.scss */
.icon-checkmark-circle:before {
  content: "\e0fb"; }

/* line 172, ../../scss/icons.scss */
.icon-loop:before {
  content: "\e11d"; }
