@font-face {
	font-family: 'icons';
	src:url('../fonts/icons.eot');
	src:url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.ttf') format('truetype'),
		url('../fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon, .icon-download:before, .icon-lock:before, .icon-unlocked:before, .icon-home:before, .icon-user:before, .icon-users:before, .icon-user-2:before, .icon-spinner:before, .icon-cog:before, .icon-pie:before, .icon-stats:before, .icon-bars:before, .icon-bars-2:before, .icon-clock:before, .icon-folder:before, .icon-folder-open:before, .icon-tag:before, .icon-tags:before, .icon-link:before, .icon-eye:before, .icon-flickr:before, .icon-table:before, .icon-minus:before, .icon-plus:before, .icon-play:before, .icon-info:before, .icon-warning:before, .icon-signup:before, .icon-bookmark:before, .icon-bookmarks:before, .icon-calendar:before, .icon-new-tab:before, .icon-console:before, .icon-filter:before, .icon-arrow-up:before, .icon-arrow-down:before, .icon-close:before, .icon-checkmark:before, .icon-enter:before, .icon-exit:before, .icon-flag:before, .icon-attachment:before, .icon-cancel-circle:before, .icon-checkmark-circle:before, .icon-loop:before {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-download:before {
	content: "\e05e";
}
.icon-lock:before {
	content: "\e089";
}
.icon-unlocked:before {
	content: "\e08a";
}
.icon-home:before {
	content: "\e000";
}
.icon-user:before {
	content: "\e070";
}
.icon-users:before {
	content: "\e071";
}
.icon-user-2:before {
	content: "\e075";
}
.icon-spinner:before {
	content: "\e078";
}
.icon-cog:before {
	content: "\e08e";
}
.icon-pie:before {
	content: "\e095";
}
.icon-stats:before {
	content: "\e096";
}
.icon-bars:before {
	content: "\e097";
}
.icon-bars-2:before {
	content: "\e098";
}
.icon-clock:before {
	content: "\e048";
}
.icon-folder:before {
	content: "\e02e";
}
.icon-folder-open:before {
	content: "\e02f";
}
.icon-tag:before {
	content: "\e030";
}
.icon-tags:before {
	content: "\e031";
}
.icon-link:before {
	content: "\e0c3";
}
.icon-eye:before {
	content: "\e0c6";
}
.icon-flickr:before {
	content: "\e17a";
}
.icon-table:before {
	content: "\e14b";
}
.icon-minus:before {
	content: "\e101";
}
.icon-plus:before {
	content: "\e102";
}
.icon-play:before {
	content: "\e10a";
}
.icon-info:before {
	content: "\e0f7";
}
.icon-warning:before {
	content: "\e0f4";
}
.icon-signup:before {
	content: "\e0b3";
}
.icon-bookmark:before {
	content: "\e0c9";
}
.icon-bookmarks:before {
	content: "\e0ca";
}
.icon-calendar:before {
	content: "\e04e";
}
.icon-new-tab:before {
	content: "\e15a";
}
.icon-console:before {
	content: "\e15d";
}
.icon-filter:before {
	content: "\e13f";
}
.icon-arrow-up:before {
	content: "\e120";
}
.icon-arrow-down:before {
	content: "\e124";
}
.icon-close:before {
	content: "\e0fd";
}
.icon-checkmark:before {
	content: "\e0fe";
}
.icon-enter:before {
	content: "\e103";
}
.icon-exit:before {
	content: "\e104";
}
.icon-flag:before {
	content: "\e0c4";
}
.icon-attachment:before {
	content: "\e0c5";
}
.icon-cancel-circle:before {
	content: "\e0fa";
}
.icon-checkmark-circle:before {
	content: "\e0fb";
}
.icon-loop:before {
	content: "\e11d";
}


