@font-face {
	font-family: 'icons';
	src:url('../fonts/icons.eot');
	src:url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.ttf') format('truetype'),
		url('../fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon, .icon-download, .icon-lock, .icon-unlocked, .icon-home, .icon-user, .icon-users, .icon-user-2, .icon-spinner, .icon-cog, .icon-pie, .icon-stats, .icon-bars, .icon-bars-2, .icon-clock, .icon-folder, .icon-folder-open, .icon-tag, .icon-tags, .icon-link, .icon-eye, .icon-flickr, .icon-table, .icon-minus, .icon-plus, .icon-play, .icon-info, .icon-warning, .icon-signup, .icon-bookmark, .icon-bookmarks, .icon-calendar, .icon-new-tab, .icon-console, .icon-filter, .icon-arrow-up, .icon-arrow-down, .icon-close, .icon-enter, .icon-exit, .icon-flag, .icon-attachment, .icon-cancel-circle, .icon-checkmark-circle, .icon-loop, .icon-checkmark, .icon-alarm, .icon-undo, .icon-filter-2, .icon-tree, .icon-remove, .icon-circle, .icon-chevron-left, .icon-chevron-right, .icon-chevron-up, .icon-chevron-down, .icon-sort, .icon-arrow-left, .icon-arrow-right, .icon-arrow-up-2, .icon-arrow-down-2 {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-download:before {
	content: "\e05e";
}
.icon-lock:before {
	content: "\e089";
}
.icon-unlocked:before {
	content: "\e08a";
}
.icon-home:before {
	content: "\e000";
}
.icon-user:before {
	content: "\e070";
}
.icon-users:before {
	content: "\e071";
}
.icon-user-2:before {
	content: "\e075";
}
.icon-spinner:before {
	content: "\e078";
}
.icon-cog:before {
	content: "\e08e";
}
.icon-pie:before {
	content: "\e095";
}
.icon-stats:before {
	content: "\e096";
}
.icon-bars:before {
	content: "\e097";
}
.icon-bars-2:before {
	content: "\e098";
}
.icon-clock:before {
	content: "\e048";
}
.icon-folder:before {
	content: "\e02e";
}
.icon-folder-open:before {
	content: "\e02f";
}
.icon-tag:before {
	content: "\e030";
}
.icon-tags:before {
	content: "\e031";
}
.icon-link:before {
	content: "\e0c3";
}
.icon-eye:before {
	content: "\e0c6";
}
.icon-flickr:before {
	content: "\e17a";
}
.icon-table:before {
	content: "\e14b";
}
.icon-minus:before {
	content: "\e101";
}
.icon-plus:before {
	content: "\e102";
}
.icon-play:before {
	content: "\e10a";
}
.icon-info:before {
	content: "\e0f7";
}
.icon-warning:before {
	content: "\e0f4";
}
.icon-signup:before {
	content: "\e0b3";
}
.icon-bookmark:before {
	content: "\e0c9";
}
.icon-bookmarks:before {
	content: "\e0ca";
}
.icon-calendar:before {
	content: "\e04e";
}
.icon-new-tab:before {
	content: "\e15a";
}
.icon-console:before {
	content: "\e15d";
}
.icon-filter:before {
	content: "\e13f";
}
.icon-arrow-up:before {
	content: "\e120";
}
.icon-arrow-down:before {
	content: "\e124";
}
.icon-close:before {
	content: "\e0fd";
}
.icon-enter:before {
	content: "\e103";
}
.icon-exit:before {
	content: "\e104";
}
.icon-flag:before {
	content: "\e0c4";
}
.icon-attachment:before {
	content: "\e0c5";
}
.icon-cancel-circle:before {
	content: "\e0fa";
}
.icon-checkmark-circle:before {
	content: "\e0fb";
}
.icon-loop:before {
	content: "\e11d";
}
.icon-checkmark:before {
	content: "\e0fe";
}
.icon-alarm:before {
	content: "\e001";
}
.icon-undo:before {
	content: "\e002";
}
.icon-filter-2:before {
	content: "\e003";
}
.icon-tree:before {
	content: "\e004";
}
.icon-remove:before {
	content: "\e005";
}
.icon-circle:before {
	content: "\f111";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-chevron-up:before {
	content: "\f077";
}
.icon-chevron-down:before {
	content: "\f078";
}
.icon-sort:before {
	content: "\f0dc";
}
.icon-arrow-left:before {
	content: "\f060";
}
.icon-arrow-right:before {
	content: "\f061";
}
.icon-arrow-up-2:before {
	content: "\f062";
}
.icon-arrow-down-2:before {
	content: "\f063";
}
