/* ========== */
/* = Dialog = */
/* ========== */
.gui-win {
    @include box-shadow(0 8px 25px rgba(0,0,0,0.3));
    position: absolute;
    background-color: #f4f4f4;
    outline: none;
    z-index: 100;       
    min-width: 200px;
    min-height: 200px;

    >header {
        font-size: 12px;        
        background-color: #999;
        padding: 7px 10px;
        cursor: default;
        @include user-select(none);
        .title {
            font: 13px "Trebuchet MS";            
            min-height: 15px;
            line-height: 15px;
            color: #fff;            
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;            
        }
    }
    >.content {
        position: absolute;
        top: 30px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        overflow: auto;
    }
    >.resize {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 16px;
        height: 16px;
        cursor: se-resize;
        z-index: 1;
    }

    // Add a manual dropshadow in ie8
    .ie7 &, .ie8 & {
        @include ie-dropshadow();
    }
}



.gui-dialog {
    // A dialog adds a <footer> with a <div class="buttons"></div>
    @extend .gui-win;
    
    >.content {
        bottom: 30px;
    }    
    >footer {
        border-top: 1px dashed #ddd;    
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: 50px;
        text-align: right;
        .buttons {
            padding: 10px
        }
    }   
}